:root {
  --color-mine-shaft: 50, 50, 50;  /* display, box shadows, history bg */
  --color-aquamarine: 127, 255, 212;  /* results text */
  --color-red: 255, 0, 0;  /* error text */
  --color-santas-gray: 164, 166, 180;  /* number buttons, history text, history scrollbar (track) */
  --color-cornflower-blue: 100, 149, 237;  /* equals and operator buttons */
  --color-goldenrod: 218, 165, 32;  /* clear and backspace buttons */
  --color-steel-blue: 176, 196, 222;  /* button shadows */
  --color-dove-gray: 64, 64, 64;  /* history entry hover */
  --color-gray: 128, 128, 128;  /* history scrollbar (thumb) */
  --color-lightblue: 173, 216, 230;  /* footer link hover */
  --color-chathams-blue: 28, 69, 140;  /* footer background*/
  --border-radius: 6px;
  font-size: 16px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  background-image: url('./img/background.png');
  background-size: cover;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  margin: auto;
  width: 100%;
  max-width: 45rem;
}

.calculator {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  border: 2px solid white;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 0px 0.75rem rgb(var(--color-mine-shaft)),
              0px 0px 1rem 1rem rgb(var(--color-mine-shaft));
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  aspect-ratio: 6 / 7;
}

.display {
  display: grid;
  grid-template-rows: 60% 40%;
  border: 2px solid rgb(var(--color-steel-blue));
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  height: 20%;
  background-color: rgb(var(--color-mine-shaft));
  cursor: text;
}

.display__main,
.display__result {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0.75rem;
  overflow: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.display__main::-webkit-scrollbar,
.display__result::-webkit-scrollbar {
  display: none;
}

.display__main {
  align-self: center;
  font-size: 1.5rem;
}

.display__result {
  align-self: start;
  font-size: 1rem;
  color: rgb(var(--color-aquamarine));
}

.display__result--error {
  color: rgb(var(--color-red));
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5%;
  height: 80%;
}

button {
  border: 1px solid black;
  border-radius: var(--border-radius);
  box-shadow: inset -0.2rem -0.2rem .1rem rgb(var(--color-steel-blue), 0.25),
              0.2rem 0.2rem rgb(var(--color-steel-blue), 0.75);
  color: black;
  font: inherit;
  cursor: pointer;
  touch-action: manipulation;
  transition: all 0.1s;
}

button:active:enabled,
.button--pressed:enabled {
  box-shadow: inset -0.2rem -0.2rem .1rem rgb(var(--color-steel-blue), 0.5);
  transform: translate(0.2rem, 0.2rem);
}

[data-btn-type="equals"] {
  grid-column: span 2;
}

[data-btn-type="number"],
[data-btn-type="posneg"],
[data-btn-type="decimal"] {
  background-color: rgb(var(--color-santas-gray), 0.2);
}

[data-btn-type="number"]:hover,
[data-btn-type="posneg"]:hover,
[data-btn-type="decimal"]:hover {
  background-color: rgb(var(--color-santas-gray), 0);
}

[data-btn-type="operator"],
[data-btn-type="equals"] {
  background-color: rgb(var(--color-cornflower-blue));
}

[data-btn-type="operator"]:hover,
[data-btn-type="equals"]:hover {
  background-color: rgb(var(--color-cornflower-blue), 0.8);
}

[data-btn-type="operator"]:disabled,
[data-btn-type="equals"]:disabled {
  color: rgb(var(--color-mine-shaft), 0.5);
  background-color: rgb(var(--color-cornflower-blue), 0.6);
}

[data-btn-type="clear"],
[data-btn-type="backspace"] {
  background-color:rgb(var(--color-goldenrod));
}

[data-btn-type="clear"]:hover,
[data-btn-type="backspace"]:hover {
  background-color:rgb(var(--color-goldenrod), 0.8);
}

.history {
  flex: 2;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 0px 0.75rem rgb(var(--color-mine-shaft)),
              0px 0px 1rem 1rem rgb(var(--color-mine-shaft));
  background-color: rgb(var(--color-mine-shaft));
}

.history__title {
  padding: 0.5rem;
  border-bottom: 1px solid rgb(var(--color-santas-gray));
  font-size: 1.2rem;
  font-weight: bold;
}

.history__entries {
  flex: 1;
  overflow-x: hidden;
  overflow-y: overlay;
}

.history__entries::-webkit-scrollbar {
  width: 0.4rem;
}

.history__entries::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-gray));
}

.history__entries::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-santas-gray));
}

.history__entries--fade {
  animation: fade 0.5s forwards;
}

.history__entry {
  padding: 0.75rem 1rem;
}

.history__entry--slide {
  animation: slide 0.75s;
}

.history__expression,
.history__result {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  text-align: right;
}

.history__expression {
  font-size: 0.85rem;
  color: rgb(var(--color-santas-gray));
}

.history__result {
  font-size: 1rem;
  font-weight: bold;
}

.history__clear {
  padding: 0.5rem;
  border-top: 1px solid rgb(var(--color-santas-gray));
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  font-size: 0.85rem;
}

.history__entry:hover,
.history__clear:hover {
  background-color: rgb(var(--color-dove-gray));
  cursor: pointer;
}

.history__entry:active,
.history__clear:active {
  background-color: rgb(var(--color-gray), 0.3);
}

.footer {
  background-color: rgb(var(--color-chathams-blue), 0.7);
}

.footer__text,
.footer__link,
.footer__link:visited {
  color: inherit;
}

.footer__link:hover,
.footer__link:active {
  color: rgb(var(--color-lightblue));
}

@keyframes fade {
  100% {
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    padding: 0;
    height: 0;
    opacity: 0;
  }
  50% {
    padding: 0.75rem 1rem;
    height: var(--height);
    opacity: 0;
    transform: scaleX(1.1);
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .main {
    flex-direction: column;
    align-items: center;
    padding: 8vw;
  }

  .calculator {
    flex: initial;
    width: 100%;
  }

  .history {
    flex: initial;
    width: 70%;
  }
}

@media (max-width: 320px) {
  :root {
    font-size: 12px;
  }
}