:root {
  --color-mine-shaft: 50, 50, 50;  /* display */
  --color-steel-blue: 176, 196, 222;  /* button shadows */
  --color-santas-gray: 164, 166, 180;  /* number buttons */
  --color-cornflower-blue: 100, 149, 237;  /* equals and operator buttons */
  --color-aquamarine: 127, 255, 212;  /* results display */
  --color-goldenrod: 218, 165, 32;  /* clear and backspace buttons */
  --color-red: 255, 0, 0;  /* error text */
  --color-dove-gray: 64, 64, 64;
  --color-gray: 128, 128, 128;
  --color-navy-blue: 0, 11, 128;  /* footer */
  --border-radius: 8px;
}

body {
  margin: 0;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  background-image: url('./img/background.png');
  background-size: cover;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  display: flex;
  gap: 3rem;
  margin: auto;
  height: 27.5rem;
}

.calculator {
  padding: 1rem;
  border: 2px solid white;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 0px 0.75rem rgb(var(--color-mine-shaft)), 0px 0px 1rem 1rem rgb(var(--color-mine-shaft));
  width: 20rem;
  margin: 0 auto;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.display {
  display: grid;
  grid-template-columns: 99.9% 0.1%;
  grid-template-rows: 60% 40%;
  align-items: center;
  border: 2px solid silver;
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  height: 5rem;
  background-color: rgb(var(--color-mine-shaft));
  cursor: pointer;
}

.display__main,
.display__result {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0.75rem;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.display__main::-webkit-scrollbar,
.display__result::-webkit-scrollbar {
  display: none;
}

.display__cursor {
  position: relative;
  right: 0.5rem;
  width: 1.5px;
  height: 2rem;
}

.display__cursor--blink {
  background-color: rgb(var(--color-aquamarine));
  animation: cursor-blink 1s steps(2) infinite;
}

.display__main {
  font-size: 1.5rem;
}

.display__result {
  align-self: start;
  font-size: 1rem;
  color: rgb(var(--color-aquamarine));
}

.display__result--error {
  color: rgb(var(--color-red));
}

.display__result::before {
  content: '\00a0';
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

button {
  position: relative;
  padding: 1rem;
  border: 1px solid darkslategray;
  border-radius: var(--border-radius);
  box-shadow: inset -0.25rem -0.25rem .1rem rgb(var(--color-steel-blue), 0.75);
  font: inherit;
  cursor: pointer;
}

.button--pressed {
  box-shadow: inset -0.2rem -0.2rem .1rem rgb(var(--color-steel-blue), 0.5);
  top: 1px;
}

[data-key="0"],
[data-btn-type="equals"] {
  grid-column: span 2;
}

[data-btn-type="number"],
[data-btn-type="decimal"] {
  background-color: rgb(var(--color-santas-gray), 0.2);
}

[data-btn-type="number"]:hover,
[data-btn-type="decimal"]:hover {
  background-color: rgb(var(--color-santas-gray), 0);
}

[data-btn-type="operator"] {
  background-color: rgb(var(--color-cornflower-blue));
}

[data-btn-type="operator"]:hover:enabled {
  background-color: rgb(var(--color-cornflower-blue), 0.8);
}

[data-btn-type="equals"] {
  background-color: rgb(var(--color-cornflower-blue));
}

[data-btn-type="equals"]:hover {
  background-color: rgb(var(--color-cornflower-blue), 0.8);
}

[data-btn-type="operator"]:disabled,
[data-btn-type="equals"]:disabled {
  color: rgb(var(--color-mine-shaft), 0.5);
  background-color: rgb(var(--color-cornflower-blue), 0.6);
}

[data-btn-type="clear"],
[data-btn-type="backspace"] {
  background-color:rgb(var(--color-goldenrod));
}

[data-btn-type="clear"]:hover,
[data-btn-type="backspace"]:hover {
  background-color:rgb(var(--color-goldenrod), 0.8);
}

.history {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: var(--border-radius);
  width: 12.5rem;
  background-color: rgb(var(--color-mine-shaft));
}

.history__title {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.history__entries {
  flex: 1;
  border-top: 1px solid rgb(var(--color-santas-gray));;
  border-bottom: 1px solid rgb(var(--color-santas-gray));;
  overflow: auto;
}

.history__entries::-webkit-scrollbar {
  width: 0.4rem;
}

.history__entries::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-gray));
}

.history__entries::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-santas-gray));
}

.history__entry {
  padding: 1rem;
}

.history__expression,
.history__result {
  text-align: right;
}

.history__expression {
  font-size: 0.8rem;
  color: rgb(var(--color-santas-gray));
}

.history__result {
  font-size: 1rem;
  font-weight: bold;
}

.history__clear {
  padding: 0.5rem;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  font-size: 0.8rem;
}

.history__entry:hover,
.history__clear:hover {
  background-color: rgb(var(--color-dove-gray));
  cursor: pointer;
}

.footer {
  border-top: 0.25px solid white;
  background-color: rgb(var(--color-navy-blue), 0.5);
}

.footer__text,
.footer__link,
.footer__link:visited {
  color: inherit;
}

.footer__link:hover {
  color: lightblue;
}

@keyframes cursor-blink {
  0% {
    opacity: 0%;
  }
}